{% extends 'base.html' %}

{% block title %}
    <title>HangLinux</title>
{% endblock %}

{%block main %}
{% for post in post_list %}
<article class="post post-{{ post.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{%url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="{{ post.create_time }}">{{ post.create_time }}</time></a></span>
            <span class="post-author"><a href="{% url 'blog:author' post.pk %}">{{ post.author }}</a></span>
            <span class="comments-link"><a href="#">{{post.comment_set.count}} 评论</a></span>
            <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <!-- 文章摘要字段 方法1
        <p>{{ post.excerpt }}</p>
        -->
        <!-- 模板过滤器方式-->
        <p>{{ post.body | truncatechars:35}}</p>

        <div class="read-more cl-effect-14">
            <a href="{{ post.get_absolute_url }}" target="_blank" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty%}
<div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}

<!-- 简单分页效果
<div class="pagination-simple">
    <a href="#">上一页</a>
    <span class="current">第 6 页 / 共 11 页</span>
    <a href="#">下一页</a>
</div>
-->
    {% if is_paginated %}
        <div class="pagination">
            <ul>
                {% if first %}
                    <li><a class="page" href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a class="page" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
                <li><a class="current page current" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if right %}
                    {% for i in right %}
                        <li><a class="page" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li><a href="?page={{ paginator.num_pages }}" class="page">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock main %}
