<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block title %}
    {% endblock %}
    <link rel="shortcut icon" href="/static/image/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a href="{% url 'blog:index' %}">Hakit's blog</a></h1>
                {% block userbody %}
                {% endblock%}
            </div>
        </div>
    </div>
</div>

<!--蜘蛛网背景效果--->
<script type="text/javascript" color="5,39,175" opacity="0.5" src="/static/js/canvas-nest.min.js"></script>
<!-- 页面点击小红心 -->
<script type="text/javascript" src="/static/js/love.js"></script>
<!--可变丝带-->
<script type="text/javascript" alpha="0.2" src="http://cdn.atool.org/res/ribbon.min.js"></script>

</body>
</html>